@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: #1a202c; /* Cor de fundo escura */
  color: #e2e8f0; /* Texto claro */
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Impede a rolagem horizontal */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #63b3ed; /* Azul claro para links */
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

section {
  padding: 2rem 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem; /* Adiciona padding nas laterais */
  box-sizing: border-box; /* Inclui padding e borda no tamanho total */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.project-container {
  perspective: 1000px;
}

.project-card {
  transform-style: preserve-3d;
  transition: transform 0.5s ease-in-out;
}

.project-card:hover {
  transform: rotateY(10deg);
}
